body {
    width: 578px;
    padding: 16px;
    margin: 0 auto;
    background: #fff;
    font-family: sans-serif;
    color: #000;
}
/* Panel for project ID input */
#project-picker {
    margin: 16px 0;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
}
#project-id {
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    padding: 6px;
    -webkit-box-shadow: inset 3px 3px 3px -3px rgba(0, 0, 0, .3);
    box-shadow: inset 3px 3px 3px -3px rgba(0, 0, 0, .3);
    background: 0;
    margin: 0;
    font: inherit;
    width: 6em;
    position: relative;
}
#project-id.error {
    background: #fee;
    -webkit-box-shadow: inset 3px 3px 3px -3px rgba(100, 0, 0, .3);
    box-shadow: inset 3px 3px 3px -3px rgba(100, 0, 0, .3);
}
#project-id:focus {
    z-index: 1;
}
#address-hint {
    padding-left: 6px;
    vertical-align: middle;
}
#go-project {
    padding: 6px;
    margin: 0;
    border: 1px solid #aaa;
    border-left: 0;
    font: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -webkit-linear-gradient(#fff, #ddd);
    background: -moz-linear-gradient(#fff, #ddd);
    background: -ms-linear-gradient(#fff, #ddd);
    background: -o-linear-gradient(#fff, #ddd);
    background: linear-gradient(#fff, #ddd);
    -webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, .2);
    box-shadow: inset 0 -1px rgba(255, 255, 255, .2);
    cursor: pointer;
    position: relative;
}
#go-project:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#eee));
    background: -webkit-linear-gradient(#ddd, #eee);
    background: -moz-linear-gradient(#ddd, #eee);
    background: -ms-linear-gradient(#ddd, #eee);
    background: -o-linear-gradient(#ddd, #eee);
    background: linear-gradient(#ddd, #eee);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .3), inset 0 2px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px rgba(255, 255, 255, .3), inset 0 2px 5px rgba(0, 0, 0, .1);
}

#project-id,
#go-project {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 18px;
    vertical-align: middle;
}
#go-project::-moz-focus-inner {
    border: 0;
    padding: 0;
}
